<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-label (click)="onClick()" style="font-weight: 700; color: red"
          >X</ion-label
        >
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>

  <div>
    <ion-img [src]="background"></ion-img>
  </div>

  <div>
    <h2 style="margin: 12px">{{ title }}</h2>
  </div>

  <div *ngIf="castList.length > 0">
    <ion-list>
      <ion-list-header>
        <h3>Casting</h3>
      </ion-list-header>

      <ion-item *ngFor="let item of castList">
        <ion-avatar>
          <img
            src="{{ item.profile_path }}"
            alt=""
            *ngIf="item.profile_path; else defaultIcon"
          />
          <ng-template #defaultIcon>
            <ion-icon
              style="font-size: 36px"
              name="person-circle-outline"
            ></ion-icon>
          </ng-template>
        </ion-avatar>

        <ion-label style="margin: 12px">
          <h2>{{ item.name }}</h2>
          <h2>{{ item.character }}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="crewList.length > 0">
    <ion-list>
      <ion-list-header>
        <h3>Team</h3>
      </ion-list-header>

      <ion-item *ngFor="let item of crewList">
        <ion-avatar>
          <img
            src="{{ item.profile_path }}"
            alt=""
            *ngIf="item.profile_path; else defaultIcon"
          />
          <ng-template #defaultIcon>
            <ion-icon
              style="font-size: 36px"
              name="person-circle-outline"
            ></ion-icon>
          </ng-template>
        </ion-avatar>

        <ion-label style="margin: 12px">
          <h2>{{ item.name }}</h2>
          <h2>{{ item.department }}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
