<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="font-weight: bold; text-align: center; color: red;">
      APP FILMES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <app-slider [sliderInputValue]="appSlider"></app-slider>

    <ion-grid>
      <ion-row>
        <ion-col>
          <app-card [cardInputValue]="appCard" (click)="cardListener($event)"></app-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
