<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="font-weight: bold; text-align: center; color: red;">
      APP FILMES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <app-slider [sliderInputValue]="appSlider"></app-slider>

    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let item of appCard" size-lg="2" size-md="4" size-sm="6" size-xs="6">
          <app-card [title]="item.title" [image]="item.image" [model]="item.modelItem"
          [voteRating]="item.voteRating" (cardTrigger)="cardListener($event)"></app-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
